 body
 {
    margin:0;
    padding:0;
    background-color: #89C4E1;

 }
.main{
    width:100%;
    /* background-image:  url(image.jpg); */
    background-size: cover;
    height:109vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;

}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: navajowhite;
    color: blue;
    font-family: arial;
    font-weight: bold;
    transition: o.4s ease-in-out;

}
ul li a:hover{
    color:#ff7200;
}
.search{
    width: 330px;
    float:left;
    margin-left: 270px;
}
.srch{
    font-family: 'Times new roman';
    width:200px;
    height:40px;
    background: transparent;
    border:1px solid #ff7200;
    margin-top: 13px;
    color: rgb(13, 5, 6);
    border-right: #ff7200;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}
.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border:2px solid#ff7200;
    margin-top: 13px;
    color: rgb(39, 30, 19);
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn:focus{
    outline: none;
    
}
.srch:focus{
    outline: none;
}
.content{
    width:1200px;
    height: auto;
    margin:auto;
    /* color:rgb(230, 46, 150); */
    position:relative;
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing:2px;

}
.content .cn{
    width:160px;
    height: 40px;
    background: rgb(37, 171, 37);
    border:none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius:10px;
    cursor: pointer;
    transition: .5s ease;


}
.content .cn a{
    text-decoration: none;
    color: rgb(24, 3, 3);
    transition: .35 ease;
}
.cn:hover{
    background-color: rgb(198, 198, 109);

}
.content span{
    color: #ff7200;
    font-size: 65px;
}
.form{
    width:250px;
    height: 380px;
    /* background: linear-gradient(to top, rgba(0,0,0.8)50%, rgba(0,0,0.8)50%); */
    position: absolute;
    top: -20px;
    left: 1000px;
    border-radius: 10px;
    padding: 25px;
    background-color: #F5EDCE;
}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color:#58287F;
    font-size: 22px;
    /* background-color: aqua; */
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
}

.placeholder{
    color:#58287F ;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus{
    outline: none;
}
::placeholder{
    color:bisque;
    font-family: Arial, Helvetica, sans-serif;
}
.btnn{
    width: 240px;
    height: 40px;
    /* background: #ff7200; */
    background: #E1D7C6;
    border: none;
    margin-top: 30px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    
  
}
.btnn:hover{
    background: bisque;
    color: aquamarine;
}
.btnn a{
    text-decoration: none;
    /* color:aqua; */
    color:#58287F ;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 20px;
    text-align: center;

}
.form .link a{
    text-decoration: none;
    color:#ff7200;
}
.liw{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
.icon{
    padding-left:30%;
    align-items: center;
}
.icons a{
    text-decoration: none;
    color: #ff7200;
    padding-left: 10px;
}
.icons ion-icon{
    color: #ff7200;
    font-size: 80px;
    padding-left: 20px;
    padding-top: 15px;
    transition: 0.5s ease;
}
.icons ion-icon:hover{
    color: orange;
}




	* {
		margin: 0;
		padding: 0;
	}

	.navbar {
		display: flex;
		align-items: center;
		justify-content: center;
		position: sticky;
		top: 0;
		cursor: pointer;
	}

	.background {
		background: black;
		background-blend-mode: darken;
		background-size: cover;
	}

	.nav-list {
		width: 70%;
		display: flex;
		align-items: center;
	}

	.logo {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.logo img {
		width: 180px;
		border-radius: 50px;
	}

	.nav-list li {
		list-style: none;
		padding: 26px 30px;
	}

	.nav-list li a {
		text-decoration: none;
		color: white;
	}

	.nav-list li a:hover {
		color: grey;
	}

	.rightnav {
		width: 30%;
		text-align: right;
	}

	#search {
		padding: 5px;
		font-size: 17px;
		border: 2px solid grey;
		border-radius: 9px;
	}

	.firstsection {
		background-color: green;
		height: 400px;
	}

	.secondsection {
		background-color: blue;
		height: 400px;
	}

	.box-main {
		display: flex;
		justify-content: center;
		align-items: center;
		color: black;
		max-width: 80%;
		margin: auto;
		height: 80%;
	}

	.firsthalf {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.secondhalf {
		width: 30%;
	}

	.secondhalf img {
		width: 70%;
		border: 4px solid white;
		border-radius: 150px;
		display: block;
		margin: auto;
	}

	.text-big {
		font-family: 'Piazzolla', serif;
		font-weight: bold;
		font-size: 35px;
	}

	.text-small {
		font-size: 18px;
	}

	.btn {
		padding: 8px 20px;
		margin: 7px 0;
		border: 2px solid white;
		border-radius: 8px;
		background: none;
		color: white;
		cursor: pointer;
	}

	.btn-sm {
		padding: 6px 10px;
		vertical-align: middle;
	}

	.section {
		height: 400px;
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 90%;
		margin: auto;
	}

	.section-Left {
		flex-direction: row-reverse;
	}

	.paras {
		padding: 0px 65px;
	}

	.thumbnail img {
		width: 250px;
		border: 2px solid black;
		border-radius: 26px;
		margin-top: 19px;
	}

	.center {
		text-align: center;
	}

	.text-footer {
		text-align: center;
		padding: 30px 0;
		font-family: 'Ubuntu', sans-serif;
		display: flex;
		justify-content: center;
		color: white;
	}
